.search-box {
    width: 300px;
    margin: 40px auto;
    text-align: center;
}

.search-box input[type="search"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.search-box button[type="button"] {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button[type="button"]:hover {
    background-color: #3e8e41;
}