/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Byekan";
}
@font-face {
  font-family: "Byekan";
  src: url("./asstes/fonts/Byekan.ttf") format("truetype"),
    url("./asstes/fonts/Byekan.woff") format("woff");
}
@font-face {
  font-family: "lalehzar";
  src: url("../fonts/lalezar.ttf") format("truetype"),
    url("../fonts/lalezar.woff") format("woff");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #deddde;
}

.container {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: #333;
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  transition: height 0.6s ease;
}
.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.search-box i {
  position: absolute;
  right: 10px;
  font-size: 28px;
  color: brown;
}
.search-box input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  padding: 0 40px;
  text-transform: uppercase;
}
.search-box input::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box button {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
}
.search-box button:active {
  color: orangered;
}
.weather-box {
  text-align: center;
  margin: 40px 0;
}
.weather-box,
.weather-details,
.not-found {
  visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}
.weather-box img {
  width: 60%;
}
.temp {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
  position: relative;
}
.temp span {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 30%;
  transform: translate(-30%, 0);
  color: orange;
}
.desc {
  font-size: 22px;
  font-weight: 500;
}
.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.humidity,
.wind {
  display: flex;
  align-content: center;
  width: 50%;
}
.wind {
  justify-content: flex-end;
}
.humidity i,
.wind i {
  font-size: 56px;
  margin-left: 10px;
  color: lightblue;
}
.weather-details span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}
.weather-details p {
  font-size: 20px;
  font-weight: 500;
}
.info-wind {
  font-size: 20px;
}
.info-wind span {
  font-size: 25px;
  margin-right: 5px;
}
.info-humidity span {
  direction: ltr;
}
.not-found {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin-top: 110px;
}
.not-found img {
  width: 65%;
}
.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
